* {
    font-family: 'Comforter', cursive;
    margin: 3%;
    padding: 3%
}

body {
    background-image: url(../create-ur-web/resources/stonks.gif);
}

h1 {
    background: gold;
    text-align: center;
    color: pink;
}

div {
    background: rgba(220, 198, 224, 1);
    border-radius: 10%;
}

h6 {
    color: hotpink;
    text-align: center;
}

.selectors {
    color: peru;
    background-image: url("../create-ur-web/resources/depositphotos_30002295-stock-illustration-white-clouds-set.jpg");
    border-radius: 10%;
}